.moveArrow {
  animation-name: mymove;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 2s;
}

@keyframes mymove {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(20px);
  }
}

.responsive-about {
  font-size: 16px;
  padding: 25px;
}

@media (max-width: 768px) {
  .responsive-about {
    font-size: 10px;
    padding: 8px; /* Adjust font size for smaller screens */
  }
}
